.container {
  margin: auto;
  width: 20%;
  text-align: center;
}

.show {
  display: block;
  width: 200px;
	margin: auto;
	overflow: auto;
	height: 25em;
  text-align: left;
}

.hide {
	display: none;
}